@font-face {
  font-family: 'iconfont';  /* Project id 4516490 */
  src: 
       url('//at.alicdn.com/t/c/font_4516490_1layuiysnq9.woff2?t=1713674916078') format('woff2'),
       url('//at.alicdn.com/t/c/font_4516490_1layuiysnq9.woff?t=1713674916078') format('woff'),
       url('//at.alicdn.com/t/c/font_4516490_1layuiysnq9.ttf?t=1713674916078') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongjifenxi:before {
  content: "\e626";
}

.icon-04SFA_kaoqinguize:before {
  content: "\e61e";
}

